<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Basic Vue Js - HelloWorld App</title>

  <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->
  <!-- Using via Google Web Fonts -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <!-- https://tailwindcss.com/docs/installation -->
  <!-- Using Tailwind via CDN -->
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />

  <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->
  <!-- Vue CDN -->
  <script src="https://unpkg.com/vue@next"></script>

  <!-- Validate.js -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>

  <!-- CSS -->
  <link href="style.css" rel="stylesheet">
</head>

<body>
  <div id="app" class="container flex justify-center items-center">
    <div class="w-max h-max mx-auto bg-white rounded p-3 space-y-3">

      <div id="information" class="flex space-x-3 w-full">
        <img :src="me" width="150" class="rounded-full">
        <div>
          <p class="text-2xl font-bold">Profile Preview</p>
          <div class="linebreak w-full h-0.5 bg-gray-200"></div>
          <div v-if="submit" >
            <p>Username: {{username}}</p>
            <p>Name: {{fname + ' ' + lname}}</p>
            <p>Email: {{ email }}</p>
            <p v-if="title">Title: {{title}}</p>
            <p v-if="lang">Language: {{lang}}   </p>
          </div>
        </div>
      </div>

      <div id="form">
        <p class="text-xl font-semibold">Form</p>
        <div class="linebreak w-full h-0.5 bg-gray-200"></div>
        <form @submit.prevent="checkForm" class="my-2 mx-5">

          <p v-if="errors" class="text-red-500">
            <b>Please correct the following error(s):</b>
            <ul>
               <li v-for="error in errors" class="text-red-500">{{ error }}</li> 
            </ul>
        </p>

          <div id="uspw" class="flex space-x-10">
            <div>
              <label for="username" class="text-lg">Username</label><br />
              <input id="username" type="text" name="username" v-model="username" class="bg-gray-100 border rounded px-4 py-2 mb-4">
            </div>
            <div>
              <label for="password" class="text-lg">Password</label><br />
              <input id="password" type="password" name="password" v-model="password" class="bg-gray-100 border rounded px-4 py-2 mb-4">
            </div>
          </div>

          <div>
            <label for="email" class="text-lg">Email*</label><br />
            <input id="email" type="text" name="email" v-model="email" class="bg-gray-100 border rounded px-4 py-2 mb-4 w-full">
          </div>

          <div class="flex space-x-10">
            <div>
              <label for="fname" class="text-lg">First name*</label><br />
              <input id="fname" type="text" name="fname" v-model="fname" class="bg-gray-100 border rounded px-4 py-2 mb-4">
            </div>
            <div>
              <label for="lname" class="text-lg">Last name*</label><br />
              <input id="lname" type="text" name="lname" v-model="lname" class="bg-gray-100 border rounded px-4 py-2 mb-4">
            </div>
          </div>

          <div class="flex space-x-10">
            <div>
              <label for="title" class="text-lg">Title</label><br />
              <input id="title" type="text" name="title" v-model="title" class="bg-gray-100 border rounded px-4 py-2 mb-4">
            </div>
            <div>
              <label for="lang" class="text-lg">Language</label><br />
              <select id="lang" type="text" name="lang" v-model="lang" class="bg-gray-100 border rounded px-4 py-2 mb-4">
                <option value="English">English</option>
                <option value="Thai">Thai</option>
                </select>
            </div>
          </div>

          <div class="flex justify-center space-x-3">
            <input type="submit" value="Submit" class="px-8 py-2 text-white bg-green-500 rounded-lg hover:bg-green-600">
            <input type="reset" value="Reset" class="px-8 py-2 text-white bg-red-500 rounded-lg hover:bg-red-600">
          </div>

        </form>
      </div>

    </div>
  </div>

  <!-- my main.js -->
  <script src="./main.js"></script>
</body>

</html>